@import url('./styles.css');

/* navbar */
nav{
   margin-bottom: var(--sm-spacing);
   position: sticky;
   top: 0;
   background-color: #fff;
   z-index: 2;
   box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1)
}
.flex-r{
   display: flex;
   /* justify-content: space-evenly; */
}
:is(.nav-header) a {
   font-size: var(--text-md);
   font-family:'Roboto', sans-serif;
}
.nav-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: var(--md-spacing);
   padding-right: var(--md-spacing);
}
.link-toggle img{
   width: 2.5rem;
   cursor: pointer;
}
.dissapear {
   display: none;
}

/* jumbotron */
.jumbo{
   min-height: 55vh;
   background: #6a1b9a;
   display: grid;
   place-items: center;
   text-align: center;
   border-radius: 3px;
}
.jumbo-head {
   max-width: 600px;
   padding: var(--md-spacing);
}
.jumbo h1{
   color: #fff;
   margin-bottom: var(--md-spacing);
   font-size: var(--text-md);
}
.btn{
   background: #ffd740;
   color: #6a1b9a;
   padding: var(--sm-spacing);
   border-radius: 3px;
}
.btn-g{
   background: #fafafa;
   color: #6a1b9a;
   padding: var(--sm-spacing);
   border-radius: 3px;
}

/* pcs section */
.pc-container{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: var(--md-spacing);
   font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif
   ;
}
.pc{
   padding: var(--md-spacing);
   outline: #6a1b9a .7px solid;
   border-radius: 3px;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}
.pc-ill {
   border-radius: 5px;
   height: 180px;
}
.pc img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.pc-details {
   display: flex;
   flex-direction: column;
}
.pc-details > p{
   font-size: var(--text-sm);
}
.pc-action{
   display: flex;
   justify-content: space-between;
   margin-top: auto;
}
.sm-btn{
   font-size: var(--text-sm);
   color: #fff;
   padding: var(--sm-spacing);
   width: 40%;
   text-align: center;
   border-radius: 3px;
}
.l-btn{
   background-color: #6a1b9a;
}
.lb-btn{
   background-color: #6a1b9a;
}
.v-btn{
   background-color: #ffd740;
}

/* form */
.det-form-container{
   max-width: 600px;
   margin: auto;
}
.det-form{
   background: #fafafa;
   padding: var(--sm-spacing);
   border-radius: 3px;
}
.det-form input[type=text], input[type=password], input[type=email] {
   width: 100%;
   height: var(--lg-spacing);
   margin: 10px 0;
   padding-left: 5px;
   font-family: 'Roboto', sans-serif;
   font-size: var(--text-sm);
}
input:focus{
   outline: none;
}
.det-form input[type=submit] {
   width: 100%;
   display: block;
   padding: 7px 0;
}
.det-form .lng{
   display: flex;
   justify-content: space-between;
}
.rounded-edge {
   border-radius: 3px;
}

/* retailer pc */
.r-pc-container{
   padding: 20px;
}
.r-pc-container h2{
   text-align: center;
   background-color: #fafafa;
   padding: 50px 70px;
   width: 50%;
   margin: auto;
}

/* file */
input[type=file]::file-selector-button {
   padding: .5em;
}

/* retailer pcs */
@media screen and (min-width: 768px) {
   
   .r-pc{
      margin: auto;
      margin-bottom: .9rem;
      background-color: #fafafa;
      padding: 1rem;
      display: flex;
      gap: 1.2rem;
   }
   .r-ill{
      width: 50%;
   }
   .r-det{
      width: 75%;
      padding-top: .8rem;
      display: flex;
      flex-direction: column;
      gap: .9rem;
   }
   .r-det-top{
      padding-bottom: 5px;
      border-bottom: #6a1b9a 1px solid;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
   }
   .pc-name {
      font-weight: lighter;
      margin-bottom: 10px;
   }
}
.r-pc{
   max-width: 920px;
}
.r-ill img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}

/* rpc table */
.rpc-t{
   width: 80%;
   margin: auto;
   margin-bottom: 1.2rem;
   text-align: center;
}
.rpc-t th{
   background-color: #6a1b9a;
   color: #fff;
   padding: 5px;
}
.rpc-t td {
   padding: 5px;
}
.rpc-t tr:nth-child(odd){background-color: #fafafa;}

/* post - t */
.post-t-form{
   max-width: 768px;
   margin: auto;
   background-color: #fff;
   padding: .6rem;
   margin-bottom: 10px;
   border-radius: 3px;
}
.post-t-form form{
   outline: #6a1b9a 1px solid;
   border-radius: 3px;
   padding: .6rem;
   display: flex;
   gap: .5rem;
}
.post-t-form input[type="text"] {
   height: 40px;
   padding-left: 10px;
   width: 90%;
   background-color: #fafafa;
   border-radius: 3px;
   border: none;
}
.post-t-form input[type="submit"]{
   padding: 9px 22px;
   background-color: #6a1b9a;
   color: #fff;
   border: none;
   border-radius: 3px;
   cursor: pointer;
}
.post{
   background-color: #fff;
   margin: auto;
   margin-bottom: 10px;
   max-width: 768px;
   border-radius: 3px;
   font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif
   ;
   box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}
.post-head{
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   border-bottom: #836f8f .5px solid;
}
.push-in, .post-btm{
   padding-left: 1.2rem;
   padding-right: 1.2rem;
}
.post-top{
   padding-bottom: .5rem;
}
.post-btm {
   border-top: #836f8f .7px solid;
   padding-bottom: .7rem;
}
.post .body{
   font-size: 1rem;
}
.cmt-frm {
   margin-top: .8rem;
   padding: .2rem;
   display: flex;
   align-items: center;
   gap: .6rem;
   border-radius: 3px;
   min-height: 2.5rem;
}

/* r-pc */
.r-pc-cont{
   margin: auto;
   padding: 20px;
   width: 70%;
   display: flex;
   gap: 15px;
   justify-content: space-evenly;
}
.cont-r{
   border: #6a1b9a 1px solid;
   border-radius: 7px;
}
.p-10{
   padding: 10px;
}
.bg-diff{
   background-color: #fafafa;
}

/* loading effect */
.backloader{
   position: relative;
   border-radius: 3px;
}
.backloader-text {
   background-color: #fff;
}
.backloader::after {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: #cfd8dc ;
   z-index: -1;

   animation-name: fade;
   animation-duration: 800ms;
   animation-iteration-count: infinite;
}

@keyframes fade {
   0% { opacity: 1; }
   25% { opacity: .7; }
   75% { opacity: .3; }
   100% { opacity: 0; }
}
