@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@300&family=Space+Grotesk&family=Space+Mono&display=swap');

/* reset page */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Fira Code', monospace;
   scroll-behavior: smooth;
}

/* details */
details > summary {
   list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

a, li{
   text-decoration: none;
}
ul{
   list-style: none;
}


/* navbar */
nav{
   background: #fafafa;
   padding: 10px;
   position: sticky;
   top: 0;
}
.flex-r{
   display: flex;
   justify-content: space-evenly;
}
nav li{
   margin: 0 15px;
}

/* jumbotron */
.jumbo{
   height: 50vh;
   background: #6a1b9a;
   display: grid;
   place-items: center;
   text-align: center;
}
.jumbo h1{
   color: #fff;
   width: 600px;
   margin-bottom: 20px;
}
.btn{
   background: #ffd740;
   color: #6a1b9a;
   padding: 10px 25px;
}
.btn-g{
   background: #fafafa;
   color: #6a1b9a;
   padding: 10px 25px;
}

/* pcs section */
.pc-container{
   padding: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin: auto;
   width: 1200px;
   gap: 5px;
}
.pc{
   width: 275px;
   background: #fafafa;
   display: flex;
   flex-direction: column;
}
.pc img{
   width: 100%;
   height: 200px;
   object-fit: cover;
   /* height: 100px; */
}
.pc-details{
   margin-top: auto;
   padding: 5px 10px;
   display: flex;
   flex-direction: column;
}
.pc-details > p{
   margin: 10px 0;
   font-family: 'Roboto', sans-serif;
   color: #bdbdbd;
   font-size: 15px;
}
.pc-action{
   display: flex;
   justify-content: space-between;
   margin-top: auto;
   padding-bottom: 10px;
}
.l-btn{
   background-color: #6a1b9a;
   color: #fff;
   padding: 5px;
   width: 40%;
   text-align: center;
}
.v-btn{
   width: 40%;
   background-color: #ffd740;
   color: #fff;
   padding: 5px;
   text-align: center;
}

/* form */
.det-form-container{
   width: 100vw;
   padding: 20px 0;
}
.det-form{
   margin: auto;
   width: 500px;
   background: #fafafa;
   padding: 10px;
}
.det-form input[type=text], input[type=password], input[type=email] {
   width: 100%;
   height: 30px;
   margin: 10px 0;
   padding-left: 5px;
}
input:focus{
   outline: none;
}
.det-form input[type=submit] {
   width: 100%;
   display: block;
   padding: 7px 0;
}
.det-form .lng{
   display: flex;
   justify-content: space-between;
}

/* retailer pc */
.r-pc-container{
   padding: 20px;
}
.r-pc-container h2{
   text-align: center;
   background-color: #fafafa;
   padding: 50px 70px;
   width: 50%;
   margin: auto;
}

/* file */
input[type=file]::file-selector-button {
   padding: .5em;
}

/* retailer pcs */
.r-pc{
   width: 70%;
   margin: auto;
   margin-bottom: 10px;
   background-color: #fafafa;
   padding: 15px;
   display: flex;
   gap: 20px;
}
.r-ill{
   width: 200px;
   height: 200px;
}
.r-ill img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.r-det{
   width: 75%;
   padding-top: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.r-det-top{
   padding-bottom: 5px;
   border-bottom: #6a1b9a 1px solid;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.pc-name {
   font-weight: lighter;
   margin-bottom: 10px;
}

/* rpc table */
.rpc-t{
   width: 80%;
   margin: auto;
   margin-bottom: 20px;
   text-align: center;
}
.rpc-t th{
   background-color: #6a1b9a;
   color: #fff;
   padding: 5px;
}
.rpc-t td {
   padding: 5px;
}
.rpc-t tr:nth-child(odd){background-color: #fafafa;}

/* post - t */
.post-t-form{
   width: 50%;
   margin: auto;
   background-color: #fff;
   padding: 20px;
   margin-bottom: 10px;
}
.post-t-form input[type="text"] {
   width: 85%;
   height: 40px;
   padding-left: 10px;
}
.post-t-form input[type="submit"]{
   padding: 9px 22px;
}
.post{
   background-color: #fff;
   padding: 20px;
   margin: auto;
   margin-bottom: 10px;
   width: 50%;
}
.post-head{
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   padding-bottom: 5px;
   border-bottom: #6a1b9a .5px solid;
}
.post .body{
   padding: 5px 0;
   font-size: 14px;
}