@import url('./styles.css');

/* navbar */
nav{
   margin-bottom: var(--sm-spacing);
   position: sticky;
   top: 0;
   background-color: #fff;
}
.flex-r{
   display: flex;
   /* justify-content: space-evenly; */
}
:is(.nav-header) a {
   font-size: var(--text-md);
   font-family:'Roboto', sans-serif;
}
.nav-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: var(--md-spacing);
   padding-right: var(--md-spacing);
}
.link-toggle img{
   width: 2.5rem;
   cursor: pointer;
}
.dissapear {
   display: none;
}

/* jumbotron */
.jumbo{
   min-height: 55vh;
   background: #6a1b9a;
   display: grid;
   place-items: center;
   text-align: center;
   border-radius: 3px;
}
.jumbo-head {
   max-width: 600px;
   padding: var(--md-spacing);
}
.jumbo h1{
   color: #fff;
   margin-bottom: var(--md-spacing);
   font-size: var(--text-md);
}
.btn{
   background: #ffd740;
   color: #6a1b9a;
   padding: var(--sm-spacing);
   border-radius: 3px;
}
.btn-g{
   background: #fafafa;
   color: #6a1b9a;
   padding: var(--sm-spacing);
   border-radius: 3px;
}

/* pcs section */
.pc-container{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: var(--md-spacing);
}
.pc{
   padding: var(--md-spacing);
   outline: #6a1b9a .7px solid;
   border-radius: 3px;
   display: flex;
   flex-direction: column;
}
.pc img{
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 3px;
}
.pc-details {
   display: flex;
   flex-direction: column;
}
.pc-details > p{
   font-family: 'Roboto', sans-serif;
   color: #bdbdbd;
   font-size: var(--text-sm);
}
.pc-action{
   display: flex;
   justify-content: space-between;
   margin-top: auto;
}
.sm-btn{
   font-size: var(--text-sm);
   color: #fff;
   padding: var(--sm-spacing);
   width: 40%;
   text-align: center;
   border-radius: 3px;
}
.l-btn{
   background-color: #6a1b9a;
}
.lb-btn{
   background-color: #6a1b9a;
}
.v-btn{
   background-color: #ffd740;
}

/* form */
.det-form-container{
   max-width: 600px;
   margin: auto;
}
.det-form{
   background: #fafafa;
   padding: var(--sm-spacing);
   border-radius: 3px;
}
.det-form input[type=text], input[type=password], input[type=email] {
   width: 100%;
   height: var(--lg-spacing);
   margin: 10px 0;
   padding-left: 5px;
   font-family: 'Roboto', sans-serif;
   font-size: var(--text-sm);
}
input:focus{
   outline: none;
}
.det-form input[type=submit] {
   width: 100%;
   display: block;
   padding: 7px 0;
}
.det-form .lng{
   display: flex;
   justify-content: space-between;
}
.rounded-edge {
   border-radius: 3px;
}

/* retailer pc */
.r-pc-container{
   padding: 20px;
}
.r-pc-container h2{
   text-align: center;
   background-color: #fafafa;
   padding: 50px 70px;
   width: 50%;
   margin: auto;
}

/* file */
input[type=file]::file-selector-button {
   padding: .5em;
}

/* retailer pcs */
.r-pc{
   width: 70%;
   margin: auto;
   margin-bottom: 10px;
   background-color: #fafafa;
   padding: 15px;
   display: flex;
   gap: 20px;
}
.r-ill{
   width: 200px;
   height: 200px;
}
.r-ill img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.r-det{
   width: 75%;
   padding-top: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.r-det-top{
   padding-bottom: 5px;
   border-bottom: #6a1b9a 1px solid;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.pc-name {
   font-weight: lighter;
   margin-bottom: 10px;
}

/* rpc table */
.rpc-t{
   width: 80%;
   margin: auto;
   margin-bottom: 20px;
   text-align: center;
}
.rpc-t th{
   background-color: #6a1b9a;
   color: #fff;
   padding: 5px;
}
.rpc-t td {
   padding: 5px;
}
.rpc-t tr:nth-child(odd){background-color: #fafafa;}

/* post - t */
.post-t-form{
   width: 50%;
   margin: auto;
   background-color: #fff;
   padding: 20px;
   margin-bottom: 10px;
}
.post-t-form input[type="text"] {
   width: 85%;
   height: 40px;
   padding-left: 10px;
}
.post-t-form input[type="submit"]{
   padding: 9px 22px;
}
.post{
   background-color: #fff;
   padding: 20px;
   margin: auto;
   margin-bottom: 10px;
   width: 50%;
}
.post-head{
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   padding-bottom: 5px;
   border-bottom: #6a1b9a .5px solid;
}
.post .body{
   padding: 5px 0;
   font-size: 14px;
}

/* r-pc */
.r-pc-cont{
   margin: auto;
   padding: 20px;
   width: 70%;
   display: flex;
   gap: 15px;
   justify-content: space-evenly;
}
.cont-r{
   border: #6a1b9a 1px solid;
   border-radius: 7px;
}
.p-10{
   padding: 10px;
}
.bg-diff{
   background-color: #fafafa;
}